* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #78ffd6;
}

.app {
  position: relative;
}

/* Tilt Area */

.tilt-area {
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #007991, #78ffd6);
  overflow: hidden;
}

.tilt-area[tilted=true] {
  animation: tilt .35s ease-in-out forwards;
  cursor: pointer;
}

.tilt-area[tilted=false] {
  animation: un-tilt .35s ease-in-out forwards;
}

.tilt-area[tilted=true]>.content-wrapper {
  animation: shrink .35s ease-in-out forwards;
}

.tilt-area[tilted=false]>.content-wrapper {
  animation: expand .35s ease-in-out forwards;
}

/* Nav Bar */

.nav-wrapper {
  display: flex;
  gap: 1.5rem;
  font-size: 3rem;
  font-weight: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 52%;
  height: 100vh;
}

.nav-item {
  text-align: center;
  animation: fade-in-right .35s ease-in-out forwards;
  animation-delay: calc(var(--nav-delay) * 60ms);
  width: 20rem;
}

.nav-wrapper[fade=right] {
  animation: fade-out-right .3s ease-in-out forwards;
}

/* content-wrapper Within Tilt Area */

.content-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.content {
  z-index: 3;
}

.content-wrapper>.content {
  animation: fade-in .4s ease-in-out forwards;
}

.content-wrapper[fade=up]>.content {
  animation: fade-out-up .4s ease-in-out forwards;
}

.content-wrapper[fade=down]>.content {
  animation: fade-out-down .4s ease-in-out forwards;
}

/* Blob */
#blob {
  background-color: white;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple );

  animation: rotate 15s infinite;
  filter: blur(1200px);
}

/* Blur */
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(1200px);
}

/* Burger Icon Within Tilt Area */

.burger-icon {
  position: absolute;
  background-color: transparent;
  border: 0px solid black;
  right: 5rem;
  top: 4rem;
  cursor: pointer;
  z-index: 5;
}

/* Tilt Animations */

@keyframes tilt {
  from {
    transform: perspective(0) rotateY(0) translateX(9) scale(0);
    border-radius: 0rem;
    border: 0px solid grey;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  to {
    transform: perspective(620px) rotateY(20deg) translateX(-20%) scaleX(0.25) scaleY(0.35);
    border-radius: 3rem;
    border: 4px solid grey;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
}

@keyframes un-tilt {
  from {
    transform: perspective(620px) rotateY(20deg) translateX(-20%) scaleX(0.25) scaleY(0.35);
    border-radius: 3rem;
    border: 4px solid grey;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }

  to {
    transform: perspective(0) rotateY(0) translateX(9) scale(0);
    border-radius: 0rem;
    border: 0px solid grey;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

/* Fade Animations */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes shrink {
  from {
    height: 100%;
    width: 100%;
  }

  to {
    height: 93%;
    width: 95%;
  }
}

@keyframes expand {
  from {
    height: 93%;
    width: 95%;
  }

  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
    scale: 0.95 1;
  }

  50% {
    scale: 1 1;
  }

  to {
    rotate: 360deg;
    scale: 0.95 1;
  }
}