@font-face {
  font-family: 'Researcher Regular';
  src: url('./fonts/researcher/ttf/researcher-researcher-regular-400.ttf');
}

@font-face {
  font-family: 'Researcher Bold';
  src: url('./fonts/researcher/ttf/researcher-researcher-bold-700.ttf');
}

@font-face {
  font-family: 'Researcher Squid';
  src: url('./fonts/researcher/ttf/researcher-researcher-squid-700.ttf');
}

@font-face {
  font-family: 'Researcher Thin';
  src: url('./fonts/researcher/ttf/researcher-researcher-thin-200.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: black;
  color: white;
}

li {
  margin-block: 1rem;
}

li::marker {
  font-weight: bold;
}

a {
  font-size: 1.7rem;
}

textarea:focus,
input:focus {
  outline: none;
}


.app {
  position: relative;
}

/* Tilt Area */

.tilt-area {
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, white, blue);
  overflow: hidden;
}

.tilt-area[tilted=true] {
  animation: tilt .35s ease-in-out forwards;
  cursor: pointer;
}

.tilt-area[tilted=false] {
  animation: un-tilt .35s ease-in-out forwards;
}

.tilt-area[tilted=true]>.content-wrapper {
  animation: shrink .35s ease-in-out forwards;
}

.tilt-area[tilted=false]>.content-wrapper {
  animation: expand .35s ease-in-out forwards;
}

/* Nav Bar */

.nav-wrapper {
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
  font-weight: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 52%;
  height: 100vh;
}

.nav-item {
  font-family: 'Researcher Squid';
  text-align: center;
  animation: fade-in-right .35s ease-in-out forwards;
  animation-delay: calc(var(--nav-delay) * 60ms);
  width: 20rem;
  cursor: pointer;
}

.nav-wrapper[fade=right] {
  animation: fade-out-right .3s ease-in-out forwards;
}

/* content-wrapper Within Tilt Area */

.content-wrapper {
  background-color: black;
  /* background-image: url(./assets/bg3.jpeg); */
  /* background-image: url();
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

/* .content-wrapper[test=true] {
  background-size: auto;
  background-image: url();
} */

.content {
  z-index: 2;
  width: 90%;
  height: 75%;
  font-size: 3rem;
}

.content-wrapper>.content>div {
  animation: fade-in 1s ease-in-out forwards;
}

/* Blob */
#blob {
  background-color: white;
  height: 600px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 9s infinite;
  filter: blur(1200px);
  /* display: none; */
}

/* Blur */
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(1200px);
  /* display: none; */
}

/* Burger Icon Within Tilt Area */

.burger-icon {
  position: absolute;
  background-color: transparent;
  border: 0px solid black;
  right: 5rem;
  top: 4rem;
  cursor: pointer;
  z-index: 3;
}

.loader {
  font-family: 'Researcher Bold';
  /* font-family: 'Space Mono'; */
  text-align: center;
  height: 5rem;
  width: 25rem;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  margin-inline: auto;
  margin-block: 1rem;
  padding-inline: 2rem;
  /* padding-block: 1rem; */
  padding-top: 0.6rem;
  background-color: white;
  color: black;
  clip-path:
    polygon(0% 0%,
      95% 0%,
      100% .7em,
      100% 100%,
      100% 100%,
      .7em 100%,
      0% 78%,
      0% 30%);
  border: 0;
  /* animation: load 2s infinite; */
}

#disclaimer {
  font-size: 1.7rem;
  text-align: justify;
  width: 90%;
  font-family: 'Poppins';
  font-weight: 200;
  border-radius: 12px;
  padding: 1rem;
}

#disclaimer[fade=true] {
  animation: fade-out .3s forwards;
}

#disclaimer[display=false] {
  display: none;
}

.CircularProgressbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-22px) translateY(3px);
}

.loader[loading=true] {
  animation: load 2s infinite;
}

/* .loader[navigate=true] {
  transform: scale(0.8);
  font-family: 'Space Mono';
} */


/* Loading Animation */
@keyframes load {
  from {
    background-color: black;
    color: white;
  }

  50% {
    background-color: white;
    color: black;
  }

  to {
    background-color: black;
    color: white;
  }
}

/* Tilt Animations */

@keyframes tilt {
  from {
    transform: perspective(0) rotateY(0) translateX(9) scale(0);
    /* border-radius: 0rem; */
    border: 0px solid grey;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  to {
    transform: perspective(620px) rotateY(20deg) translateX(-20%) scaleX(0.25) scaleY(0.35);
    /* border-radius: 3rem; */
    border: 4px solid grey;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
}

@keyframes un-tilt {
  from {
    transform: perspective(620px) rotateY(20deg) translateX(-20%) scaleX(0.25) scaleY(0.35);
    /* border-radius: 3rem; */
    border: 4px solid grey;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }

  to {
    transform: perspective(0) rotateY(0) translateX(9) scale(0);
    /* border-radius: 0rem; */
    border: 0px solid grey;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

/* Fade Animations */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes shrink {
  from {
    height: 100%;
    width: 100%;
  }

  to {
    height: 99%;
    width: 99%;
  }
}

@keyframes expand {
  from {
    height: 99%;
    width: 99%;
  }

  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
    scale: 0.9 1;
  }

  50% {
    scale: 1 0.9;
  }

  to {
    rotate: 360deg;
    scale: 0.9 1;
  }
}

@keyframes go-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200px);
  }
}

@keyframes go-down {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0);
  }

}